# Ignore virtual environment
myvenv1/
.env/

# Ignore database file (optional)
db.sqlite3

# Ignore compiled files
__pycache__/
*.pyc

# Ignore media and static files (optional, or handle separately)
staticfiles/
media/
