asgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.7
gunicorn==23.0.0
packaging==24.2
pillow==11.1.0
gTTS==2.2.3  # Replace pyttsx3 with gTTS
sqlparse==0.5.3
typing_extensions==4.13.1
wheel==0.45.1
whitenoise==6.9.0
pillow
