<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Table 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'donerapproval/css/style.css' %}">

	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">My Request Status</h2>
				</div>
			</div>
			<div class="row">
				
    <div class="col-md-12"> 
      <div class="table-wrap"> 
        <table class="table table-striped">
          <thead>
            <tr> 
              <th>No</th>
              <th>Doner Name</th>
              <th>Doner Phone</th>
              <th>Blood Group</th>
              <th>Required Date</th>
              <th>Matter</th>
              <th>Status</th>
			  <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {% for j in prec %}
            <tr> 
              <td>{{j.reqno}}</td>
              <td>{{j.dname}}</td>
              <td>{{j.dphone}}</td>
              <td>{{j.bg}}</td>
              <td>{{j.reqdate}}</td>
              <td>{{j.msg}}</td>
              <td>{{j.status}}</td>
			  <td><a  href="/pfb/{{j.did}}/"><b>Feedback</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
			</div>
			<center><a  href="/pp/"><b>Back</a></center>
		</div>
	</section>

  <script src="{% static 'donerapproval/js/jquery.min.js' %}"></script>
  <script src="{% static 'donerapproval/js/popper.js' %}"></script>
  <script src="{% static 'donerapproval/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'donerapproval/js/main.js' %}"></script>

	</body>
</html>

